# Data Science Tools and Techniques

## Introduction

This notebook provides an overview of various tools and techniques used in Data Science. It includes examples of data science languages, libraries, tools, and some basic arithmetic operations.

## Data Science Languages

- Python
- R
- SQL
- Julia
- Scala
- Java
- MATLAB

## Data Science Libraries

- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras
- PyTorch
- SciPy
- Seaborn

## Data Science Tools

| Tool          | Description                                 |
|---------------|---------------------------------------------|
| Jupyter       | Interactive computing environment          |
| RStudio       | Integrated development environment for R   |
| Apache Spark  | Unified analytics engine for big data      |
| TensorFlow    | Open-source machine learning library       |
| Tableau       | Data visualization tool                    |
| Apache Hadoop | Framework for distributed storage and processing of big data |

## Arithmetic Expression Examples

Below are some examples of basic arithmetic operations performed using Python.

In [2]:
# This is a simple arithmetic expression to multiply and add numbers
result = (3 * 4) + 5
result

17

In [1]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives

- List popular languages for Data Science
- List commonly used libraries in Data Science
- Demonstrate basic arithmetic operations
- Convert time units using Python
- Introduce popular tools used in Data Science

## Author

Dharaneesh S K